.header-Aboutme {
    background: linear-gradient(to right, rgb(40,40,40)  0%, rgb(16,16,16) 99.4%);
}

.container-Aboutme {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 8.5%;
    padding-top: 3.125%;
}

.h1-Aboutme {
    font-size: 3.5rem;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
}

.span-Aboutme {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: rgb(245, 203, 92);
    letter-spacing: 3px;
}

.text-Aboutme {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    padding-top: 3.125%;
    padding-left: 5.5%;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.p-Aboutme {
    font-size: 1.25rem;
    padding: 6.25%;
    text-align: left;
    color: whitesmoke;
}

.img-Aboutme {
    
    background-image:
   
    url(../Pages/images/b4da37ff0941030338a6570562e10f2f.jpg);

    filter: FlipH;
    -ms-filter: "FlipH";
    background-size: cover;
  
    background-repeat: no-repeat;
    background-position-y:  center;
  
    
    position: absolute;
    top: 60px;
    right: 6.25%;
    width: 35%;
    height: 80%; 
}