header {
    opacity: 0.9;
    background: linear-gradient(to right, rgb(40,40,40) 0%, rgb(16,16,16) 99.4%);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    height: 80vh;
    margin-top: 3.125%;
    margin-bottom: 3.125%;
    margin-left: 6.25%;
    margin-right: 6.25%;
}

.header-home{
    opacity: 0.8;
    background-image: url(./images/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.container-navbar {
    padding-bottom: 6.25%;
}



ul {
    padding: 1.875rem 2.5rem;
}

ul .right {
    float: right;
    margin-right: 1rem;
}

li {
    display: inline;
    font-size: 1.25rem;
    padding-left: 0.20rem;
}

li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

li:active {
    color: #fab23d;
}

.homeLink {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
}

.heading { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3.125%;
}

.h1-home {
    color: whitesmoke;
    font-size: 5rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
   
}
  .h2-home {
    color: whitesmoke;
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
   
}
  .span-home{
   color: #fab23d;
   font-size: 1rem;
   padding-left: 0.5%;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;
   letter-spacing: 10px;
}